.user-container {
  display: flex;
}
.dark-card {
  background-color: #304766;
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.span-element {
  font-size: 15px;
  color: #475569;
  margin-left: 20px;
  margin-top: 10px;
}
.scrollers {
  display: flex;
  justify-content: space-between;
}
.single-scroller {
  height: 4px;
  width: 59px;
  background-color: grey;
  border-style: solid;
  border-width: 0;
  border-radius: 2px;
}
.active{
  background-color:blue;
}
.confirmed-head {
  color: #334155;
  font-size: 24px;
  margin: 10px;
  text-align: center;
}
.confirmed-para {
  color: #334155;
  font-size: 14px;
  margin: 10px;
  text-align: center;
}
.completed-img {
  height: 64px;
  width: 64px;
  margin: 10px;
  text-align: center;
}
.confirm-button-and-container {
  text-align: center;
}
.confirmed-button {
  height: 40px;
  width: 109px;
  background-color: blue;
  border-style: solid;
  border-width: 0;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
}
.dropdown {
  height: 38px;
  width: 310px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 5px;
  border-radius: 10px;
}
.confirm {
  font-size: 16px;
  width: 300px;
  height: 24px;
  margin: 10px;
}
.checkbox-card {
  display: flex;
  justify-content: space-around;
}
.names-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adults-count {
  font-size: 25px;
}
.countingbutton {
  border-style: solid;
  border-width: 0;
  background-color: transparent;
  margin: 10px;
}
.count-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.age-para {
  font-size: 15px;
  margin: 5px;
}
.age {
  font-size: 20px;
  margin: 5px;
}
.line {
  color: grey;
  width: 1px;
}
checkbox-input {
  margin: 5px;
  height: 25px;
}
.previous-button {
  background-color: #dbeafe;
  height: 32px;
  width: 82px;
  border-style: solid;
  border-width: 0;
  border-radius: 5px;
  margin: 20px;
  color: #2563eb;
}
.dropdown-card {
  margin: 20px;
}
.label-travel {
  font-size: 30px;
}
.label-check {
  font-size: 25px;
}
.select {
  height: 40px;
  width: 20px;
  border-radius: 10px;
  border-style: solid;
}
.input-card {
  height: 40px;
  width: 350px;
  border-style: solid;
  border-color: #cbd5e1;
  border-width: 1;
  border-radius: 5px;
  margin: 10px;
}
.error-input-card {
  height: 40px;
  width: 350px;
  border-style: solid;
  border-color: red;
  border-width: 1;
  border-radius: 5px;
  margin: 10px;
}
.enter-details-white-card {
  background-color: #ffffff;
  background-size: cover;
  width: 448px;
  height: 366px;
  border-style: solid;
  border-radius: 10px;
  border-width: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
.enter-details-white-card-confirm {
  background-color: #ffffff;
  background-size: cover;
  width: 448px;
  height: 366px;
  border-style: solid;
  border-radius: 10px;
  border-width: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}
.white-card {
  background-color: #ffffff;
  height: 100vh;
  width: 30%;
  padding: 20px;
}
.stage {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  margin: 5px;
}
.number {
  height: 32px;
  width: 32px;
  border-style: solid;
  border-width: 1;
  border-color: #cbd5e1;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  margin: 5px;
}
.num-stage {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 20px;
  align-items: center;
}
.button-container {
  text-align: center;
  margin: 10px;
}
.errormsg {
  color: red;
  font-size: 15px;
  margin: 5px;
}
.next-button {
  background-color: #2563eb;
  height: 32px;
  width: 56px;
  color: #ffffff;
  border-style: solid;
  border-width: 0;
  border-radius: 5px;
  margin: 20px;
}
.user-heading {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  margin: 10px;
}
.small-devices-ui {
  background-color: #ffffff;
  padding: 20px;
  height: 100vh;
  background-size: cover;
}
.user-para {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 767px) {
  .large-devices-ui {
    display: none;
  }
}
.user-container-smalldevice {
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}
.user-para-small {
  color: #5c6777;
  font-size: 16px;
  margin: 10px;
}
.user-heading-small {
  color: #334155;
  font-size: 20px;
  margin: 10px;
}
.mytrips-component {
  display: none;
}
@media (min-width: 768px) {
  .small-devices-ui {
    display: none;
  }
}
